<template>

<nav class="bg-gray-800 border-gray-200 text-white px-2 sm:px-4 py-2.5  dark:bg-gray-800">
<div class="container flex flex-wrap justify-between items-center mx-auto">
<a href="#" class="flex items-center">
<img src="../../assets/logo.png" class="mr-3 h-8 sm:h-10 bg-white" alt="Logo" height="15em">
<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
</a>
<div class="flex items-center md:order-2">
<button type="button" v-for="i of getUser" :key="i" class="flex items-center mr-3 text-sm bg-gray-100 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
  <span class="text-gray-600 mx-2" >@{{i?.payload?.email.split('@')[0]}}</span>
  <div class="w-10 h-10 flex items-center rounded-full justify-center bg-blue-700 text-white capitalize">{{i?.payload?.email.split('@')[0].charAt()}}</div>
</button>

<router-link to="/live">
<button type="button"  class="flex items-center  text-sm bg-gray-100 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
  <span class="text-gray-600  mx-3 p-2" >Live Video</span>
</button>
</router-link>


<button type="button" @click.prevent="this.toggleLiveVideos = !this.toggleLiveVideos" class="flex items-center ml-3 text-sm bg-gray-100 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
  <span class="text-gray-600 mx-2 p-2" >Ajouter Video En Live</span>
</button>

</div>

</div>

<section v-if="this.toggleLiveVideos">
            <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
            <div class="py-12 bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0" id="modal">
                <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
                    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
                        <div class="w-full flex justify-start text-gray-600 mb-3">
                            <button @click.prevent="this.toggleLiveVideos = !this.toggleLiveVideos" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                            <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>
                        </div>
                        <!-- <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Enter Billing Details</h1> -->
                        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Nom:</label>
                        <input id="name" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-blue-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="nom" v-model="this.live_videos.name"/>

                        <label for="url" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Lien:</label>
                        <input id="url" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-blue-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="Lien" v-model="this.live_videos.url"/>

                        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Lien De L'image:</label>
                        <input id="name" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-blue-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="Image" v-model="this.live_videos.image"/>
                 
                        
                        <label for="desc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Description (optionnel)</label>
                        
                        <textarea name="" id="desc" class="mb-5 mt-2 py-2 text-gray-600 focus:outline-none focus:border focus:border-blue-700 font-normal w-full h-24 flex items-center pl-3 text-sm border-gray-300 rounded border"  v-model="this.live_videos.description" placeholder="Leave a comment..."></textarea>
                       
                        <div class="flex items-center justify-start w-full">
                            <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 transition duration-150 ease-in-out hover:bg-blue-600 bg-blue-700 rounded text-white px-8 py-2 text-sm" @click.prevent="addLiveVideos">Submit</button>
                            <button class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" @click.prevent="this.toggleLiveVideos = !this.toggleLiveVideos">Cancel</button>
                        </div>
                      
                    </div>
                </div>
            </div>

        </section>
</nav>

</template>


<script lang="ts">
import {Vue, Options} from 'vue-class-component';
@Options({
  computed:{
    getUser(){
      return this.$store.getters.getUser
    }
  },
  methods:{
    addLiveVideos(){
      this.$store.dispatch('setLiveVideo', this.live_videos)
      this.toggleLiveVideos = false
      
    }
  },
  mounted(){
    this.$store.dispatch('getUser')
  }
})
export default class HeaderComponent extends Vue {
    data(){
      return{
        live_videos:{
          name : "",
          url: "",
          image: "",
          description: "",
        },
        toggleLiveVideos:false
      }
    }
}
</script>