<template>
<section v-if="this.$route.name == 'Topics'">
 
 <div class="bg-white dark:bg-gray-900">
            <div class="container px-6 py-10 mx-auto">
                <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Themes de Jours            
                </h1>
                
               <div class="flex w-full justify-between items-center flex-wrap">
            <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
                Liste de themes et videos
            </p>
             <div class="">
                <button @click.prevent="this.toogleFormTopic  = !this.toogleFormTopic"   class="border w-full md:w-40 py-2 rounded-lg flex items-center justify-start" title="add program">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                    </svg> 
                <span class="">Ajouter nouveau</span>
                </button>
            </div>
            </div>
                

                <div class=" flex flex-col m-5">
                
                  <a target="_new" v-for="(i, index) of getTopics" :key="i" :index="index">
                    <div class="each flex hover:shadow-lg select-none p-10 rounded-md border-gray-300 border mb-3 hover:border-gray-500 cursor-pointer">
                      <div class="left">
                        <div class="header text-blue-600 font-semibold text-2xl">Reviewer: {{i?.data.reviewer}}</div>
                        <div class="desc text-gray-600">Hall: {{i?.data.hall}} </div>
                        <div class="desc text-gray-600">Start Time: {{i?.data.startTime}}. End Time: {{i?.data.endTime}} </div>
                        <div class="flex items-center justify-start" v-for="x of i?.data?.links" :key="x">
                        <div class="desc text-gray-600 mr-2">{{x.file}}</div> 
                        <!-- {{this.$store.dispatch('setFiles', {program_id:this.$route.params.id, topic_id: i.id})}} -->

                        <!-- {{getFiles}} -->
                        </div>
                      </div>
                      <div class="right m-auto mr-0  flex">
                        <router-link :to="'/dashboard/days/'+this.$route.params.id+'/topics/'+this.$route.params.day_id+'/view/'+i.id" >
                        <div class="border mx-2  h-10 w-10 rounded-full flex items-center justify-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                          </svg>
                        </div>
                        </router-link>
                        <button @click.prevent="editTopicMethod(i.id, {reviewer:i?.data.reviewer, hall:i?.data.hall, startTime:i?.data.startTime, endTime:i?.data?.endTime, links:i?.data?.links})"   class="border mx-2  h-10 w-10 rounded-full flex items-center justify-center" title="edit program">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                    </button>

                     <button @click.prevent="deleteTopic(i.id)"  class="border h-10 w-10 rounded-full flex items-center justify-center" title="delete program">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </button>

                      </div>
                    </div>
                  </a>

            

                </div>
            </div>
 </div>


     <div id="authentication-modal" aria-hidden="true" v-if="this.toogleFormTopic" class=" flex h-screen w-full bg-gray-700 opacity-95  overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
        <div class="relative px-4 w-full max-w-xl h-full md:h-auto">

            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end p-2">
            <button @click.prevent="this.toogleFormTopic = !this.toogleFormTopic" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
            <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            </div>
            <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">start time</label>
            <input type="time" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.topics.startTime" required="" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}">
            </div>

             <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">end time</label>
            <input type="time" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.topics.endTime" required="" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}">
            </div>

              </div>

             <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">hall</label>
            <input type="text" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.topics.hall" required="">
            </div>
            
            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">reviewer</label>
            <input type="text" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.topics.reviewer" required="">
            </div>

          
          <button @click.prevent="addVideoLink"  class=" w-full md:w-40 py-2 rounded-lg flex items-center justify-start" title="add topic">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg> 
            <span class="">Add video Link</span>
          </button>
          
          <div v-for="(i, index) of youtubeLinks" :key="i" :index="index">
            <div class="w-full flex justify-between items-center"> 
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Link {{index + 1}}</label>
            <a class="cursor-pointer text-gray-900" @click.prevent="removeVideoLink(i.id)">Remove Link {{index + 1}} </a>
            </div>
            <input type="text" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  @change.prevent="i.name = $event.target.value">

          <div>
          <label class="text-sm font-medium text-gray-900 block mb-2" for="file">Upload file</label>
          <input class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:border-transparent text-sm rounded-lg" aria-describedby="user_avatar_help" id="file" type="file"  accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf" @change.prevent="i.file = $event.target.files[0]">
          <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">Upload a file about this topic</div>
          </div>
          </div>

            <button @click.prevent="createTopic" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              create 
            </button>
            
            </form>
            </div>
        </div>
    </div>


<div id="authentication-modal" aria-hidden="true" v-if="this.toogleEditFormTopic" class=" flex h-screen w-full bg-gray-700 opacity-95  overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
        <div class="relative px-4 w-full max-w-xl h-full md:h-auto">

            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end p-2">
            <button @click.prevent="this.toogleEditFormTopic = !this.toogleEditFormTopic" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
            <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            </div>
            <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">start time</label>
            <input type="time" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.editTopics.startTime" required="">
            </div>

             <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">end time</label>
            <input type="time" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.editTopics.endTime" required="">
            </div>

              </div>

             <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">hall</label>
            <input type="text" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.editTopics.hall" required="">
            </div>
            
            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">reviewer</label>
            <input type="text" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.editTopics.reviewer" required="">
            </div>

          
          <button @click.prevent="addVideoLink"  class=" w-full md:w-40 py-2 rounded-lg flex items-center justify-start" title="add topic">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg> 
            <span class="">Add video Link</span>
          </button>
          
            <div v-for="(i, index) of youtubeLinks" :key="i" :index="index">
            <div class="w-full flex justify-between items-center"> 
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Link {{index + 1}}</label>
            <a class="cursor-pointer text-gray-900"  @click.prevent="removeVideoLink(i.id)">Remove Link {{index + 1}} </a>
            </div>
            <input type="text" name="text" id="text" placeholder="program name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" :value="i.name"  @change.prevent="i.name = $event.target.value">

          <div>
          <label class="text-sm font-medium text-gray-900 block mb-2" for="file">Upload file</label>
          <input class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:border-transparent text-sm rounded-lg" aria-describedby="user_avatar_help" id="file" type="file"   accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf" @change.prevent="i.file = $event.target.files[0]">
          <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">Upload a file about this topic</div>
          </div>
          </div>

            <button @click.prevent="submiteditTopicData" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              update Topic 
            </button>
            
            </form>
            </div>
        </div>
    </div>
</section>
    <router-view />
</template>

<script lang="ts">
import {Vue, Options} from 'vue-class-component';

@Options({
  methods:{
    addVideoLink(){
      this.youtubeLinks.push({name:"", id:this.youtubeLinks.length + 1, file:""})
    },
    removeVideoLink(id:any){
      this.youtubeLinks = this.youtubeLinks.filter((a:any) => a.id !== id)
    },
    createTopic(){
       if(!!this.topics.startTime && !!this.topics.endTime && !!this.topics.hall && !!this.topics.reviewer ){
        let data = {
          startTime:this.topics.startTime,
          endTime: this.topics.endTime,
          hall:this.topics.hall,
          reviewer:this.topics.reviewer,
          links:this.youtubeLinks
        }
         let links:any[] = []
        for (const i of data.links) {
          links.push({name:i.file.name, data:i.file})
          i.file = [i.file.name]
        }
        this.$store.dispatch('setLoader')
        this.$store.dispatch('setTopics', {program_id:this.$route.params.id, payload:{data:data, links:links}, day_id:this.$route.params.day_id})
        this.$store.dispatch('getTopics', {program_id:this.$route.params.id, day_id:this.$route.params.day_id})
        this.toogleFormTopic = false
      }
    },
    editTopicMethod(id:any, payload:any){
      this.editTopics = payload
      for (const i of payload.links) {
        this.youtubeLinks.push({name:i.name, id:i.id, file:i.file})
      }
      this.toogleEditFormTopic = true      
    },
    submiteditTopicData(){
      console.log(this.editTopics);
    },
    deleteTopic(id:any){
        alert('are you sure you want to proceed with this action?')
        this.$store.dispatch('setLoader')
      this.$store.dispatch('deleteTopic', {program_id:this.$route.params.id, day_id:this.$route.params.day_id, id:id})
      this.$store.dispatch('getTopics', {program_id:this.$route.params.id, day_id:this.$route.params.day_id})
    }
  },
  computed:{
    getTopics(){     
      return this.$store.getters.getTopics
    },
    getFiles(){      
     return this.$store.getters.getFiles
    }
  },
  mounted(){    
    this.$store.dispatch('getTopics', {program_id:this.$route.params.id, day_id:this.$route.params.day_id})
    
  }
})
export default class TopicsComponent extends Vue {
 data(){
   return {
     youtubeLinks:[],
     topics:{
        startTime:"", endTime: "", hall:"", reviewer:"", file:"", links:[]
      },
      editTopics:{startTime:"", endTime: "", hall:"", reviewer:"", file:"", links:[]},
      toogleFormTopic:false,
      toogleEditFormTopic:false
   }
 }   
}
</script>