<template>
<section>
   

    <!-- component -->
    <section class="bg-white dark:bg-gray-900">
        <div class="container px-6 py-10 mx-auto">
            <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Jours </h1>
            <div class="flex w-full justify-between items-center flex-wrap">
            <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
                Programme par Jour
            </p>
             <div class="">
                <button @click.prevent="this.toogleDays  = !this.toogleDays"   class="border w-full md:w-40 py-2 rounded-lg flex items-center justify-start" title="add day">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                    </svg> 
                <span class="">Ajouter</span>
                </button>
            </div>
            </div>

            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
                <div v-for="(i, index) of getAllDays" :key="i" :index="index" class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl">
                 

                    <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">{{i?.data?.name}}</h1>

                    <p class="text-gray-500 dark:text-gray-300">
                        {{i?.data?.description}}
                    </p>

                     <p class="text-gray-500 dark:text-gray-300">
                       DATE: {{ new Date(i?.data?.date).toLocaleDateString() }}
                    </p>

                    <div class="flex items-end w-full justify-end">
                        <router-link :to="'/dashboard/topics/'+i?.id">
                          <a  class="cursor-pointer inline-flex p-2 text-blue-500 capitalize transition-colors duration-200 transform bg-blue-100 rounded-full dark:bg-blue-500 dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </a>
                        </router-link>
                    <button @click.prevent="editDayMethod(i.id, {name:i.data.name, description:i.data.description, date:i.data.date})"   class="border mx-2  h-10 w-10 rounded-full flex items-center justify-center" title="edit day">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                    </button>

                     <button @click="deleteData(i.id)" class="border h-10 w-10 rounded-full flex items-center justify-center" title="delete day">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </button>
                    </div>
                  
                </div>

                
            </div>
        </div>
    </section>

<!-- component -->
<!-- Code block starts -->
        <section v-if="this.toogleDays">
            <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
            <div class="py-12 bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0" id="modal">
                <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
                    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
                        <div class="w-full flex justify-start text-gray-600 mb-3">
                            <button @click.prevent="this.toogleDays = !this.toogleDays" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                            <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>
                        </div>
                        <!-- <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Enter Billing Details</h1> -->
                        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Nom:</label>
                        <input id="name" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="nom" v-model="this.day.name"/>
                 
                       <label for="date" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Date:</label>
                        <input id="date" type="date"  pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="nom" v-model="this.day.date"/>
                        
                        <label for="desc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Description (optionnel)</label>
                        
                        <textarea name="" id="desc" class="mb-5 mt-2 py-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-24 flex items-center pl-3 text-sm border-gray-300 rounded border"  v-model="this.day.description" placeholder="Leave a comment..."></textarea>
                       
                        <div class="flex items-center justify-start w-full">
                            <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm" @click.prevent="createDay">Submit</button>
                            <button class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" @click.prevent="this.toogleDays = !this.toogleDays">Cancel</button>
                        </div>
                      
                    </div>
                </div>
            </div>

        </section>
        <!-- Code block ends -->

    <!-- <div id="authentication-modal" aria-hidden="true" v-if="this.toogleDays" class=" flex h-screen w-full bg-gray-700 opacity-95  overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
        <div class="relative px-4 w-4/12 h-full md:h-auto">

            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end p-2">
            <button @click.prevent="this.toogleDays = !this.toogleDays" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
            <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            </div>
            <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nom: </label>
            <input type="text" name="text" id="text" placeholder="nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.day.name" required="">
            </div>

            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Date</label>
            <input type="date" name="text" id="text" placeholder="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.day.date" required="">
            </div>


            <div>
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description (optionnel)</label>
              <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" v-model="this.day.description" placeholder="Leave a comment..."></textarea>
            
            </div>
            <button @click.prevent="createDay" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Ajouter 
            </button>
            
            </form>
            </div>
        </div>
    </div> -->

   <section v-if="this.toogleDaysEdit">
            <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
            <div class="py-12 bg-gray-700 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0" id="modal">
                <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
                    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
                        <div class="w-full flex justify-start text-gray-600 mb-3">
                            <button @click.prevent="this.toogleDaysEdit = !this.toogleDaysEdit" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                            <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>
                        </div>
                        <!-- <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Enter Billing Details</h1> -->
                        <label for="name" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Nom:</label>
                        <input id="name" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="nom" v-model="this.editday.name"/>
                 
                       <label for="date" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Date:</label>
                        <input id="date"  pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" type="date" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="nom" v-model="this.editday.date"/>
                        
                        <label for="desc" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Description (optionnel)</label>
                        
                        <textarea name="" id="desc" class="mb-5 mt-2 py-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-24 flex items-center pl-3 text-sm border-gray-300 rounded border"  v-model="this.editday.description" placeholder="Leave a comment..."></textarea>
                       
                        <div class="flex items-center justify-start w-full">
                            <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm" @click.prevent="submitData">Mettre a Jour</button>
                            <button class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" @click.prevent="this.toogleDaysEdit = !this.toogleDaysEdit">Cancel</button>
                        </div>
                      
                    </div>
                </div>
            </div>

        </section>

        <!-- <div id="authentication-modal" aria-hidden="true" v-if="this.toogleDaysEdit" class=" flex h-screen w-full bg-gray-700 opacity-95  overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
        <div class="relative px-4 w-4/12 h-full md:h-auto">

            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end p-2">
            <button @click.prevent="this.toogleDaysEdit = !this.toogleDaysEdit" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
            <svg  class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            </div>
            <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nom</label>
            <input type="text" name="text" id="text" placeholder="nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.editday.name" required="">
            </div>

            <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Date</label>
            <input type="date" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" name="text" id="text" placeholder="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" v-model="this.editday.date" required="">
            </div>


            <div>
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description (optionnel)</label>
              <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" v-model="this.editday.description" placeholder="Leave a comment..."></textarea>
            
            </div>
            <button @click.prevent="submitData" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Mettre a Jour
            </button>
            
            </form>
            </div>
        </div>
        </div> -->

</section>
    
</template>

<script lang="ts">
import {Vue, Options} from 'vue-class-component';
import HeaderComponent from '../shared/header.vue';
@Options({
    components:{
        HeaderComponent
    },
    methods:{
        createDay(){
            if(this.day.name.trim().length !== 0 && this.day.date.toString().trim() !== 0){
                this.day['createdAt']=new Date()
                this.day['updatedAt']=new Date()
                this.$store.dispatch('setLoader')
                this.$store.dispatch('setDay', this.day)
                this.$store.dispatch('getDays')
                // console.log(this.day);
                
                this.toogleDays = !this.toogleDays
               
            }
        },editDayMethod(id:any, payload:any){
            this.toogleDaysEdit = !this.toogleDaysEdit
            this.editday = payload;
            this.editday['id'] = id
        },
        submitData(){
            let data = {name:this.editday?.name, description:this.editday?.description, date:this.editday?.date}
            // console.log(this.editday);
            this.$store.dispatch('setLoader')
            this.$store.dispatch('editDay',{day_id:this.editday.id, payload:data})
             this.toogleDaysEdit = !this.toogleDaysEdit
              this.$store.dispatch('getDays')
        },
        deleteData(id:any){
            this.$store.dispatch('deleteDay', id)
            alert('Do You want to Continue With This Action?')
            this.$store.dispatch('setLoader')
            this.$store.dispatch('getDays')
        },
    },
    computed:{
        getAllDays(){
         return this.$store.getters.getDays
        },
        
    },
    mounted(){
        this.$store.dispatch('getDays')
    }
})
export default class DefaultComponent extends Vue {
    data(){
        return{
            day:{
                name:'', description:'', date:'', 
            },
            editday:{
                name:'', description:'', date:'', 
            },
            toogleDays:false,
            toogleDaysEdit:false
        }
    }
}
</script>