<template>
  <main class="relative container mx-auto bg-white px-4">
      <div
        class="mt-2 mx-auto max-w-4xl w-full py-6"
        v-for="x of getViews"
        :key="x"
      >
        <div
          class="
            relative
            w-full
            my-6
            h-full
            overflow-x-hidden
            rounded-2xl
            border-b border-gray-300
          "
         
        >
        <h1 class="text-4xl m-2 underline font-bold capitalize">{{x?.data?.name}}</h1>
          <!-- {{x.data.name}} -->
          
          <iframe
            class="w-full"
            height="500"
            :src="x?.data?.url"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            taget="blanck"
          ></iframe>
          <!-- <h1 class="text-zxl m-2 font-bold capitalize text-blue-500">Intervenant: {{x?.speaker_name}}</h1> -->
          <p class="my-2  text-justify">{{x?.data?.description}}</p>
          
        </div>
      </div>

    </main>

</template>


<script lang="ts">
import {Vue, Options} from 'vue-class-component';
@Options({
  computed:{
    getViews(){
      return this.$store.getters.getLiveVideos
    }
  },
  methods:{
    removeLiveVideos(id:any){
      this.$store.dispatch('removeLiveVideos', id);
      this.$store.dispatch('getLiveVideos')
    }
  },
  mounted(){
    this.$store.dispatch('getLiveVideos')
  }
})

export default class LiveVideos extends Vue{
  
}
</script>