<template>
<section>
    <HeaderComponent />
    <LoaderComponent v-if="this.$store.getters.getLoader" />
    <Alert />

    <button v-if="this.$router.currentRoute._value.path != '/dashboard'" @click.prevent="this.$router.back()"   class="border ml-28 my-4  px-4 py-2 rounded-lg flex items-center justify-start" title="retour">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M15.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 010 1.414zm-6 0a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L5.414 10l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
</svg>
        Retour
                <!-- <span class="">Ajouter Nouveau</span> -->
                </button>
<router-view />

</section>
    
</template>

<script lang="ts">
import {Vue, Options} from 'vue-class-component';
import HeaderComponent from '../shared/header.vue';
import LoaderComponent from '../../reusable/loader.vue';
import Alert from '../../reusable/alert.vue';
@Options({
    components:{
        HeaderComponent,LoaderComponent, Alert
    },
    mounted(){
        this.$store.dispatch('setLoader')
        // if(this.$route.params.id !== null){
        //     this.$store.dispatch('getTopics', this.$route.params.id) 
        // }
    }
})
export default class MainComponent extends Vue {
    
}
</script>