<template>
  <section v-if="this.$route.name == 'Topics'">
    <div class="bg-white dark:bg-gray-900">
      <div class="container px-6 py-10 mx-auto">
        <h1
          class="
            text-3xl
            font-semibold
            text-gray-800
            capitalize
            lg:text-4xl
            dark:text-white
          "
        >
          Themes de Jours
        </h1>

        <div class="flex w-full justify-between items-center flex-wrap">
          <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
            Liste de themes, videos et documents associes
          </p>
          <div class="">
            <button
              @click.prevent="this.toogleFormTopic = !this.toogleFormTopic"
              class="
                border
                px-4
                py-2
                rounded-lg
                flex
                items-center
                justify-start
              "
              title="add program"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mx-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
              <span class="">Ajouter Nouveau</span>
            </button>
          </div>
        </div>

        <div class="flex flex-col m-5">
          <a
            target="_new"
            v-for="(i, index) of getTopics"
            :key="i"
            :index="index"
          >
            <div
              class="
                each
                flex
                hover:shadow-lg
                select-none
                p-10
                rounded-md
                border-gray-300 border
                mb-3
                hover:border-gray-500
                cursor-pointer
              "
            >
              <div class="left">
                <div class="header text-blue-600 font-semibold text-2xl">
                  Theme : {{ i?.data?.topic_name }}
                </div>

                <div class="desc text-gray-600">
                  Intervenant: {{ i?.data?.speaker }}
                </div>
                <div class="desc text-gray-600">Salle: {{ i?.data?.room }}</div>
                <div class="desc text-gray-600">
                  heure debut: {{ i?.data?.start_time }}. heure fin:
                  {{ i?.data?.end_time }}
                </div>

                <div class="desc text-gray-600">
                  Lien Image: {{ i?.data?.topic_image }}
                </div>
                <div class="flex items-center justify-start">
                  Documents:
                  <div class="" v-for="x of i?.files" :key="x">
                    <div class="desc text-gray-600 mr-2">
                      <span v-for="z of x?.data?.file" :key="z"> {{ z }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right m-auto mr-0 flex">
                <router-link
                  :to="
                    '/dashboard/topics/' +
                    this.$route.params.id +
                    '/view/' +
                    i?.id
                  "
                >
                  <div
                    class="
                      border
                      mx-2
                      h-10
                      w-10
                      rounded-full
                      flex
                      items-center
                      justify-center
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6 text-gray-600"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
                      />
                    </svg>
                  </div>
                </router-link>
                <button
                  @click.prevent="
                    editTopicMethod(i?.id, {
                      speaker: i?.data.speaker,
                      room: i?.data.room,
                      start_time: i?.data.start_time,
                      end_time: i?.data?.end_time,
                      topic_name: i?.data?.topic_name,
                      topic_image: i?.data?.topic_image,
                      id: i?.id,
                    })
                  "
                  class="
                    border
                    mx-2
                    h-10
                    w-10
                    rounded-full
                    flex
                    items-center
                    justify-center
                  "
                  title="edit program"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-gray-500"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                    />
                  </svg>
                </button>

                <button
                  @click.prevent="deleteTopic(i?.id)"
                  class="
                    border
                    h-10
                    w-10
                    rounded-full
                    flex
                    items-center
                    justify-center
                  "
                  title="delete program"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-gray-500"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div
      id="authentication-modal"
      aria-hidden="true"
      v-if="this.toogleFormTopic"
      class="
        flex
        h-screen
        w-full
        bg-gray-700
        opacity-95
        overflow-y-auto overflow-x-hidden
        fixed
        right-0
        left-0
        top-4
        z-50
        justify-center
        items-center
        h-modal
        md:h-full md:inset-0
      "
    >
      <div class="relative px-4 w-full max-w-xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2">
            <button
              @click.prevent="this.toogleFormTopic = !this.toogleFormTopic"
              type="button"
              class="
                text-gray-400
                bg-transparent
                hover:bg-gray-200 hover:text-gray-900
                rounded-lg
                text-sm
                p-1.5
                ml-auto
                inline-flex
                items-center
                dark:hover:bg-gray-800 dark:hover:text-white
              "
              data-modal-toggle="authentication-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
            <div>
              <label
                for="topic_name"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Theme:
              </label>
              <input
                type="text"
                name="text"
                id="topic_name"
                placeholder="nom du theme"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.topics.topic_name"
                required=""
              />
            </div>

            <div>
              <label
                for="topic_name"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Lien de l'image:
              </label>

              <input
                type="text"
                name="topic_image"
                id="text"
                placeholder="Lien de l'image"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.topics.topic_image"
              />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
              <div>
                heure debut
                <label
                  for="password"
                  class="
                    block
                    mb-2
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                ></label>
                <input
                  type="time"
                  name="text"
                  id="text"
                  placeholder="program name"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  v-model="this.topics.start_time"
                  required=""
                />
              </div>

              <div>
                <label
                  for="password"
                  class="
                    block
                    mb-2
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >heure fin</label
                >
                <input
                  type="time"
                  name="text"
                  id="text"
                  placeholder="program name"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  v-model="this.topics.end_time"
                  required=""
                />
              </div>
            </div>

            <div>
              <label
                for="password"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >salle</label
              >
              <input
                type="text"
                name="text"
                id="text"
                placeholder="nom de la salle"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.topics.room"
                required=""
              />
            </div>

            <div>
              <label
                for="password"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Intervenant</label
              >
              <input
                type="text"
                name="text"
                id="text"
                placeholder="Intervenant"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.topics.speaker"
                required=""
              />
            </div>

            <!-- <button
              @click.prevent="addVideoLink"
              class="
                w-full
                md:w-40
                py-2
                rounded-lg
                flex
                items-center
                justify-start
              "
              title="add topic"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mx-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
              <span class="">Ajouter un lien video</span>
            </button> -->

            <!-- <div v-for="(i, index) of youtubeLinks" :key="i" :index="index">
              <div class="w-full flex justify-between items-center">
                <label
                  for="password"
                  class="
                    block
                    mb-2
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >Lien {{ index + 1 }}</label
                >
                <a
                  class="cursor-pointer text-gray-900"
                  @click.prevent="removeVideoLink(i.id)"
                  >Supprimer {{ index + 1 }}
                </a>
              </div>
              <input
                type="text"
                name="text"
                id="text"
                placeholder="program name"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                @change.prevent="i.name = $event.target.value"
              />

              <div>
                <label
                  class="text-sm font-medium text-gray-900 block mb-2"
                  for="file"
                  >Ajouter un document</label
                >
                <input
                  class="
                    block
                    w-full
                    cursor-pointer
                    bg-gray-50
                    border border-gray-300
                    text-gray-900
                    focus:outline-none focus:border-transparent
                    text-sm
                    rounded-lg
                  "
                  aria-describedby="user_avatar_help"
                  id="file"
                  type="file"
                  accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                  @change.prevent="i.file = $event.target.files[0]"
                />
                <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">
                  Ajouter un document
                </div>
              </div>
            </div> -->

            <button
              @click.prevent="createTopic"
              type="submit"
              class="
                w-full
                text-white
                bg-blue-700
                hover:bg-blue-800
                focus:ring-4 focus:ring-blue-300
                font-medium
                rounded
                text-sm
                px-5
                py-2.5
                text-center
                dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
              "
            >
              Ajouter
            </button>
          </form>
        </div>
      </div>
    </div>

    <div
      id="authentication-modal"
      aria-hidden="true"
      v-if="this.toogleEditFormTopic"
      class="
        flex
        h-screen
        w-full
        bg-gray-700
        opacity-95
        overflow-y-auto overflow-x-hidden
        fixed
        right-0
        left-0
        top-4
        z-50
        justify-center
        items-center
        h-modal
        md:h-full md:inset-0
      "
    >
      <div class="relative px-4 w-full max-w-xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2">
            <button
              @click.prevent="
                this.toogleEditFormTopic = !this.toogleEditFormTopic
              "
              type="button"
              class="
                text-gray-400
                bg-transparent
                hover:bg-gray-200 hover:text-gray-900
                rounded-lg
                text-sm
                p-1.5
                ml-auto
                inline-flex
                items-center
                dark:hover:bg-gray-800 dark:hover:text-white
              "
              data-modal-toggle="authentication-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
            <div>
              <label
                for="topic_name"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Theme:
              </label>
              <input
                type="text"
                name="text"
                id="topic_name"
                placeholder="nom du theme"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.editTopics.topic_name"
                required=""
              />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
              <div>
                <label
                  for="password"
                  class="
                    block
                    mb-2
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >heure debut</label
                >
                <input
                  type="time"
                  name="text"
                  id="text"
                  placeholder="program name"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  v-model="this.editTopics.start_time"
                  required=""
                />
              </div>

              <div>
                <label
                  for="password"
                  class="
                    block
                    mb-2
                    text-sm
                    font-medium
                    text-gray-900
                    dark:text-gray-300
                  "
                  >heure fin</label
                >
                <input
                  type="time"
                  name="text"
                  id="text"
                  placeholder="program name"
                  class="
                    bg-gray-50
                    border border-gray-300
                    text-gray-900 text-sm
                    rounded
                    focus:ring-blue-500 focus:border-blue-500
                    block
                    w-full
                    p-2.5
                    dark:bg-gray-600
                    dark:border-gray-500
                    dark:placeholder-gray-400
                    dark:text-white
                  "
                  v-model="this.editTopics.end_time"
                  required=""
                />
              </div>
            </div>

            <div>
              <label
                for="room"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Salle</label
              >
              <input
                type="text"
                name="room"
                id="text"
                placeholder="Salle"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.editTopics.room"
                required=""
              />
            </div>

            <div>
              <label
                for="speaker"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Intervenant</label
              >
              <input
                type="text"
                name="speaker"
                id="text"
                placeholder="Intervenant"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.editTopics.speaker"
                required=""
              />
            </div>

            <div>
              <label
                for="topic_name"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Lien de l'image:
              </label>

              <input
                type="text"
                name="topic_image"
                id="text"
                placeholder="Lien de l'image"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.editTopics.topic_image"
              />
            </div>

            <button
              @click.prevent="submiteditTopicData"
              type="submit"
              class="
                w-full
                text-white
                bg-blue-700
                hover:bg-blue-800
                focus:ring-4 focus:ring-blue-300
                font-medium
                rounded
                text-sm
                px-5
                py-2.5
                text-center
                dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
              "
            >
              Modifier
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <router-view />
</template>

<script lang="ts">
import { Vue, Options } from "vue-class-component";

@Options({
  methods: {
    addVideoLink() {
      if (this.youtubeLinks.length == 1) {
        return "";
      }
      this.youtubeLinks.push({
        name: "",
        id: this.youtubeLinks.length + 1,
        file: "",
      });
    },
    removeVideoLink(id: any) {
      this.youtubeLinks = this.youtubeLinks.filter((a: any) => a.id !== id);
    },
    createTopic() {
      if (
        !!this.topics.start_time &&
        !!this.topics.end_time &&
        !!this.topics.room &&
        !!this.topics.speaker &&
        !!this.topics.topic_name &&
        !!this.topics.topic_image
      ) {
        console.log(this.topics);

        this.$store.dispatch("setLoader");
        this.$store.dispatch("setTopics", {
          payload: this.topics,
          day_id: this.$route.params.id,
        });
        this.$store.dispatch("getTopics", this.$route.params.id);
        this.toogleFormTopic = false;
      }
    },
    editTopicMethod(id: any, payload: any) {
      this.editTopics = payload;
      this.toogleEditFormTopic = true;
    },
    submiteditTopicData() {
      this.$store.dispatch("setLoader");
      this.$store.dispatch("editTopics", {
        day_id: this.$route.params.id,
        topic_id: this.editTopics.id,
        payload: this.editTopics,
      });
      this.toogleEditFormTopic = false;
      this.$store.dispatch("getTopics", this.$route.params.id);
    },
    deleteTopic(id: any) {
      alert("are you sure you want to proceed with this action?");
      this.$store.dispatch("setLoader");
      this.$store.dispatch("deleteTopic", {
        day_id: this.$route.params.id,
        topic_id: id,
      });
      this.$store.dispatch("getTopics", this.$route.params.id);
    },
  },
  computed: {
    getTopics() {
      return this.$store.getters.getTopics;
    },
    getFiles() {
      return this.$store.getters.getFiles;
    },
  },
  mounted() {
    this.$store.dispatch("getTopics", this.$route.params.id);
  },
})
export default class TopicsComponent extends Vue {
  data() {
    return {
      youtubeLinks: [],
      topics: {
        start_time: "",
        end_time: "",
        room: "",
        speaker: "",
        topic_name: "",
        topic_image: "",
      },
      editTopics: {
        start_time: "",
        end_time: "",
        room: "",
        speaker: "",
        topic_name: "",
        topic_image: "",
        id: "",
      },
      toogleFormTopic: false,
      toogleEditFormTopic: false,
    };
  }
}
</script>