<template>
  <div>
    <!-- component -->
    <main class="relative container mx-auto bg-white px-4">
      <div class=" w-full flex items-end justify-end">

        <button
          @click.prevent="toggleForm = !toggleForm"
          class="border px-4 py-2 rounded-lg flex items-center justify-start"
          title="Ajouter Video"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mx-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            />
          </svg>
          <span class="">Ajouter Video</span>
        </button>
      </div>
      <div
        class="mt-2 mx-auto max-w-4xl w-full py-6"
        v-for="i of getViews"
        :key="i"
      >
        <div
          class="
            relative
            w-full
            my-6
            h-full
            overflow-x-hidden
            rounded-2xl
            border-b border-gray-300
          "
          v-for="x of i?.files"
          :key="x"
        >
        <button @click.prevent="addAsLive({
              data:x?.data}, x?.id)"
          class="border ml-2 px-4 py-2 rounded-lg flex items-center justify-start"
          title="edit"
        >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
      
          <span class="">Edit</span>
        </button>
        <h1 class="text-4xl m-2 underline font-bold capitalize">{{x?.data?.video_name}}</h1>
          <!-- {{x.data.name}} -->
           <!-- <p class="my-2  text-justify">Lien Du video: {{x?.data?.name}}</p> -->
               
          <iframe v-if="x?.data?.name"
            class="w-full"
            height="500"
            :src="x?.data?.name"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            taget="blanck"
          ></iframe>
          <img v-if="!x?.data?.name"
            class="w-full h-96"
            
            src="@/assets/logo-scc.png"  
          />
          <h1 class="text-zxl m-2 font-bold capitalize text-blue-500">Intervenant: {{x?.data?.speaker_name}}</h1>
          <p class="my-2  text-justify">Description: {{x?.data?.description}}</p>
          <div
            class="py-10 grid grid-cols-1 md:grid-cols-2 relative items-center"
          >
            <label
              for="addFile"
              class="
                border
                px-4
                absolute
                right-4
                py-1
                top-2
                cursor-pointer
                rounded-full
                flex
                items-center
                justify-start
              "
              title="Ajouter document"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mx-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
              <span class="">Ajouter document</span>
            </label>
            <input
              type="file"
              id="addFile"
              class="hidden"
              accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf"
              @change.prevent="
                addfiles({
                  id: x.id,
                  data: x.data.file,
                  fileName: $event.target.files[0],
                })
              "
            />
        
            <div v-for="j of x?.data.file" :key="j" class="mx-2">
              <span v-for="z of filesData" :key="z">
                <span
                  v-if="z.name.includes(`file${x.id}_${j}`)"
                  class="
                    rounded-full
                    w-full
                    py-1.5
                    px-6
                    bg-gray-500
                    text-white
                    cursor-pointer
                    my-6
                    flex
                    items-center
                    flex-wrap
                  "
                >
                  <span class="w-3/4 truncate">
                    {{ z?.name.replace(`file${x.id}_`, "") }}
                  </span>

                  <button
                    @click.prevent="
                      deleteFile({
                        id: x?.id,
                        data: x?.data?.file,
                        name: z?.name.replace(`file${x.id}_`, ''),
                      })
                    "
                    class="
                      border
                      h-7
                      w-7
                      mx-2
                      rounded-md
                      flex
                      items-center
                      justify-center
                    "
                    title="delete file"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 text-gray-100"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                      />
                    </svg>
                  </button>
                  <a
                    :href="`https://firebasestorage.googleapis.com/v0/b/${storageBucket}/o/DOCUMENTS%2F${i.id}%2F${z?.name}?alt=media`"
                    class="
                      border
                      h-7
                      w-7
                      rounded-md
                      flex
                      items-center
                      justify-center
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 text-gray-100"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
                      />
                    </svg>
                  </a>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- <article class="max-w-prose mx-auto py-8">
    <h1 class="text-2xl font-bold">Music Event Party, Awards 2021. Exclusive after party only for special guests.</h1>
    <h2 class="mt-2 text-sm text-gray-500">Admin, 28 November 2021</h2>
  </article> -->
    </main>

    <div
      id="authentication-modal"
      aria-hidden="true"
      v-if="this.toggleForm"
      class="
        flex
        h-screen
        w-full
        bg-gray-700
        opacity-95
        overflow-y-auto overflow-x-hidden
        fixed
        right-0
        left-0
        top-4
        z-50
        justify-center
        items-center
        h-modal
        md:h-full md:inset-0
      "
    >
      <div class="relative px-4 w-full max-w-xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2">
            <button
              @click.prevent="this.toggleForm = !this.toggleForm"
              type="button"
              class="
                text-gray-400
                bg-transparent
                hover:bg-gray-200 hover:text-gray-900
                rounded-lg
                text-sm
                p-1.5
                ml-auto
                inline-flex
                items-center
                dark:hover:bg-gray-800 dark:hover:text-white
              "
              data-modal-toggle="authentication-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
            <div class="">
              <div>
                <div class="w-full flex my-4  flex-col">
                  <label
                    class="text-sm font-medium text-gray-900 block mb-2"
                    for="file"
                    >Presente par: </label
                  >
                  <!-- <a class="cursor-pointer text-gray-900" @click.prevent="removeVideoLink(i.id)">Supprimer {{index + 1}} </a> -->
                  <input
                    type="text"
                    name="text"
                    id="text"
                    placeholder="presente par..."
                    class="
                      bg-gray-50
                      border border-gray-300
                      text-gray-900 text-sm
                      rounded
                      focus:ring-blue-500 focus:border-blue-500
                      block
                      w-full
                      p-2.5
                      dark:bg-gray-600
                      dark:border-gray-500
                      dark:placeholder-gray-400
                      dark:text-white
                    "
                    v-model="this.links.speaker_name"
                  />
                </div>
                 <div class="w-full flex my-4  flex-col">
                  <label
                    class="text-sm font-medium text-gray-900 block mb-2"
                    for="file"
                    >Video Name</label
                  >
                  <!-- <a class="cursor-pointer text-gray-900" @click.prevent="removeVideoLink(i.id)">Supprimer {{index + 1}} </a> -->
                  <input
                    type="text"
                    name="text"
                    id="text"
                    placeholder="Video Name"
                    class="
                      bg-gray-50
                      border border-gray-300
                      text-gray-900 text-sm
                      rounded
                      focus:ring-blue-500 focus:border-blue-500
                      block
                      w-full
                      p-2.5
                      dark:bg-gray-600
                      dark:border-gray-500
                      dark:placeholder-gray-400
                      dark:text-white
                    "
                    v-model="this.links.video_name"
                  />
                </div>

                <div class="w-full flex  flex-col">
                  <label
                    class="text-sm font-medium text-gray-900 block mb-2"
                    for="file"
                    >Ajouter un lien</label
                  >
                  <!-- <a class="cursor-pointer text-gray-900" @click.prevent="removeVideoLink(i.id)">Supprimer {{index + 1}} </a> -->
                  <input
                    type="text"
                    name="text"
                    id="text"
                    placeholder="Lien"
                    class="
                      bg-gray-50
                      border border-gray-300
                      text-gray-900 text-sm
                      rounded
                      focus:ring-blue-500 focus:border-blue-500
                      block
                      w-full
                      p-2.5
                      dark:bg-gray-600
                      dark:border-gray-500
                      dark:placeholder-gray-400
                      dark:text-white
                    "
                    v-model="this.links.name"
                  />
                </div>

                <div class="my-4">
                  <label class="text-sm font-medium text-gray-900 block my-2" for="file">Ajouter un document</label>
                  <input
                    class="
                      block
                      w-full
                      cursor-pointer
                      bg-gray-50
                      border border-gray-300
                      text-gray-900
                      focus:outline-none focus:border-transparent
                      text-sm
                      rounded-lg
                    "
                    aria-describedby="user_avatar_help"
                    id="file"
                    type="file"
                    accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                    @change.prevent="this.links.file = $event.target.files[0]"
                  />
                  <div class="my-4">
                   <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description (optionnel)</label>
                    <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" v-model="this.links.description" placeholder="Leave a comment..."></textarea>
                  
                  </div>
                  <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">
                    Ajouter un document
                  </div>
                </div>
              </div>
            </div>

            <button
              @click.prevent="createVideosFiles"
              type="submit"
              class="
                w-full
                text-white
                bg-blue-700
                hover:bg-blue-800
                focus:ring-4 focus:ring-blue-300
                font-medium
                rounded
                text-sm
                px-5
                py-2.5
                text-center
                dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
              "
            >
              Ajouter
            </button>
          </form>
        </div>
      </div>
    </div>


        <div
      id="authentication-modal"
      aria-hidden="true"
      v-if="this.toggleFormEdit"
      class="
        flex
        h-screen
        w-full
        bg-gray-700
        opacity-95
        overflow-y-auto overflow-x-hidden
        fixed
        right-0
        left-0
        top-4
        z-50
        justify-center
        items-center
        h-modal
        md:h-full md:inset-0
      "
    >
      <div class="relative px-4 w-full max-w-xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2">
            <button
              @click.prevent="
                this.toggleFormEdit = !this.toggleFormEdit
              "
              type="button"
              class="
                text-gray-400
                bg-transparent
                hover:bg-gray-200 hover:text-gray-900
                rounded-lg
                text-sm
                p-1.5
                ml-auto
                inline-flex
                items-center
                dark:hover:bg-gray-800 dark:hover:text-white
              "
              data-modal-toggle="authentication-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#">
      
            <div>
              <label
                for="room"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Nom de Video</label
              >
              <input
                type="text"
                name="room"
                id="text"
                placeholder="Salle"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.editTopics.video_name"
                required=""
              />
            </div>

            <div>
              <label
                for="speaker"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Intervenant</label
              >
              <input
                type="text"
                name="speaker"
                id="text"
                placeholder="Intervenant"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.editTopics.speaker_name"
                required=""
              />
            </div>

            <div>
              <label
                for="topic_name"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Lien de video:
              </label>

              <input
                type="text"
                name="topic_image"
                id="text"
                placeholder="Lien de video"
                class="
                  bg-gray-50
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  p-2.5
                  dark:bg-gray-600
                  dark:border-gray-500
                  dark:placeholder-gray-400
                  dark:text-white
                "
                v-model="this.editTopics.name"
              />
            </div>

              <div>
              <label
                for="topic_name"
                class="
                  block
                  mb-2
                  text-sm
                  font-medium
                  text-gray-900
                  dark:text-gray-300
                "
                >Description:
              </label>
               <textarea name="" id="desc" class="mb-5 mt-2 py-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-24 flex items-center pl-3 text-sm border-gray-300 rounded border"   v-model="this.editTopics.description" placeholder="Leave a comment..."></textarea>
              
            </div>

            <button
              @click.prevent="submitEditData"
              type="submit"
              class="
                w-full
                text-white
                bg-blue-700
                hover:bg-blue-800
                focus:ring-4 focus:ring-blue-300
                font-medium
                rounded
                text-sm
                px-5
                py-2.5
                text-center
                dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
              "
            >
              Modifier
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import router from "@/router";
import { Vue, Options } from "vue-class-component";
import { firebaseConfig } from "./../../firebase/firestore.config";
import { FirestoreService } from "./../../services/firestore.service";

@Options({
  computed: {
    getViews() {
      return this.$store.getters.getTopics?.filter(
        (a: any) => a.id == this.$route.params.topic_id
      );
    },
    filesData() {
      return this.$store.getters.getFiles;
    },
    storageBucket() {
      return firebaseConfig.storageBucket;
    },
  },
  methods: {
    deleteFile(payload: any) {
      this.$store.dispatch("setLoader");

      payload.data = payload.data.filter((s: any) => s !== payload.name);
      new FirestoreService()
        .deleteFileVideo(this.$route.params.topic_id, payload.name, payload.id)
        .then(() => {
          this.$store.dispatch("setNotification", {
            type: "SUCCESS",
            message: "File Deleted Successfully",
          });
          router.back()
        })
        .finally(() => this.$store.dispatch("hideLoader"));
      new FirestoreService().editVideoUrl(
        this.$route.params.id,
        this.$route.params.topic_id,
        payload.id,
        { file: payload.data }
      );
      this.$store.dispatch("getFiles", this.$route.params.topic_id);
      this.$store.dispatch("getTopics", this.$route.params.id);
    },
    createVideosFiles() {
      if (this.links.name.trim() !== null) {
        let payload = {
          name: this.links.name,
          file: [this.links.file.name],
          video_name:this.links.video_name,
          description:this.links.description,
          speaker_name:this.links.speaker_name
        };
        let files: any = [
          { name: this.links.file.name, data: this.links.file },
        ];

        new FirestoreService()
          .createVideos(
            payload,
            this.$route.params.id,
            this.$route.params.topic_id,
            files
          )
          .then(() => {
            this.$store.dispatch("setNotification", {
              type: "SUCCESS",
              message: "File Created Successfully",
            });
            router.back()
          })
          .catch((err) =>
            this.$store.dispatch("setNotification", {
              type: "ERROR",
              message: "An Error Occured",
            })
          )
          .finally(() => {
            this.$store.dispatch("hideLoader");
          });
          
          // this.$store.dispatch('addextraStore', { payload:payload, day_id: this.$route.params.id,topic_id:this.$route.params.topic_id, files:files})
            this.toggleForm = false;

        this.$store.dispatch("getTopics", this.$route.params.id);
      }
    },
    addfiles(payload:any){
      // console.log({ file: [...payload?.data, payload?.fileName?.name]});
          this.$store.dispatch("setLoader");
      new FirestoreService().editVideoUrl(this.$route.params.id,
        this.$route.params.topic_id,
        payload?.id,
        { file: [...payload?.data, payload?.fileName?.name]})
        .then(()=> {
          new FirestoreService().createVideosFiles(this.$route.params.topic_id, payload?.fileName?.name, payload?.fileName, payload?.id).then(() => {
              this.$store.dispatch("setNotification", {
                type: "SUCCESS",
                message: "File Edited Successfully",
              });
                router.back()
              
            })
            .catch((err) =>
              this.$store.dispatch("setNotification", {
                type: "ERROR",
                message: "An Error Occured",
              })
            )
            .finally(() => {
              this.$store.dispatch("hideLoader");
            });
      //  console.log({ file: [...payload?.data, payload?.fileName?.name]});
       
       })
        this.$store.dispatch("getFiles", this.$route.params.topic_id);
        this.$store.dispatch("getTopics", this.$route.params.id);
      
    },
    addAsLive(payload:any, video_id:any){
      delete payload['file'];
      this.toggleFormEdit = !this.toggleFormEdit
      payload['data'].id = video_id
      delete payload['data']?.file
      this.editTopics = payload['data']
      // console.log(payload, video_id);
    },
    submitEditData(){
      this.$store.dispatch('setLiveVideo',{ payload:this.editTopics, video_id:this.editTopics.id })
      this.toggleFormEdit = !this.toggleFormEdit
    }
    
  },
  mounted() {
    // this.$store.dispatch("getTopics", this.$route.params.id);
    this.$store.dispatch("getFiles", this.$route.params.topic_id);
    // this.$store.dispatch("extraStore", {
    //   day_id: this.$route.params.id,
    //   topic_id: this.$route.params.topic_id,
    // });
  },
})
export default class ViewComponent extends Vue {
  data() {
    return {
      fileName: "",
      toggleForm: false,
      links: { name: "", file: "", video_name:'', description:'', speaker_name:'' },
      toggleFormEdit:false,
      editTopics:{name: "", video_name:'', description:'', speaker_name:''}
    };
  }
}
</script>

<style>
.pt-\[17\%\] {
  padding-top: 17%;
}
.mt-\[-10\%\] {
  margin-top: -10%;
}
.pt-\[56\.25\%\] {
  padding-top: 56.25%;
}
</style>
