<template>
<!-- <Alert /> -->
  <router-view/>
</template>

<script lang="ts">
import {Vue, Options} from 'vue-class-component'
import Alert from './reusable/alert.vue'

@Options({
  components:{
    Alert
  }
})
export default class AppComponent extends Vue{
  
}
</script>