<template>
    <section id="page" class="antialiased font-body bg-body text-body">
    <div class="h-scren w-full flex justify-center items-center" id="content">

      <section data-section-id="1" data-category="sign-up-gray-pattern" data-component-id="48671075_01_awz" class=" h-screen w-full flex justify-center items-center  bg-coolGray-50" style="background-image: url('https://shuffle.dev/flex-ui-assets/elements/pattern-light-big.svg'); background-position: center;" data-config-id="auto-img-2">
        <div class="container px-4 mx-auto ">
          <div class="max-w-sm mx-auto">
            <div class="mb-6 text-center">
              <a class="inline-block mb-6" href="#">
                <img class="h-16" src="../../assets/logo.png" alt="" data-config-id="auto-img-3-1">
              </a>
              <h3 class="mb-4 text-2xl md:text-3xl font-bold" data-config-id="auto-txt-1-1">Se Connecter</h3>
            </div>
            <form action="">
              <div class="mb-6">
                <label class="block mb-2 text-coolGray-800 font-medium" for="" data-config-id="auto-txt-8-1">Email</label>
                <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="dev@shuffle.dev" v-model="this.user.email">
              </div>
              <div class="mb-4">
                <label class="block mb-2 text-coolGray-800 font-medium" for="" data-config-id="auto-txt-9-1">Password</label>
                <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="************" v-model="this.user.password">
              </div>
              <div class="flex flex-wrap items-center justify-between mb-6">
                <div class="w-full md:w-1/2">
                  <label class="relative inline-flex items-center">
                    <input class="form-checkbox appearance-none" type="checkbox">
                    <!-- <img class="absolute top-1/2 transform -translate-y-1/2 left-0" src="flex-ui-assets/elements/sign-up/checkbox-icon.svg" alt="" data-config-id="auto-img-1-1"> -->
                    <span class="ml-7 text-xs text-coolGray-800 font-medium" data-config-id="auto-txt-3-1">Remember me</span>
                  </label>
                </div>
                <!-- <div class="w-full md:w-auto mt-1"><a class="inline-block text-xs font-medium text-blue-500 hover:text-blue-600" href="#" data-config-id="auto-txt-4-1">Forgot your password?</a></div> -->
              </div>
              <a @click.prevent="createUser" class="cursor-pointer inline-block py-3 px-7 mb-6 w-full text-base text-blue-50 font-medium text-center leading-6 bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-md shadow-sm" data-config-id="auto-txt-5-1">Sign In</a>
              <!-- <p class="text-center">
                <span class="text-xs font-medium" data-config-id="auto-txt-6-1">Don&rsquo;t have an account?</span>
                <a class="inline-block text-xs font-medium text-blue-500 hover:text-blue-600 hover:underline" href="#" data-config-id="auto-txt-7-1">Sign up</a>
              </p> -->
            </form>
          </div>
        </div>
      </section>
    </div>
</section>
</template>

<script lang="ts">
import {Vue, Options} from 'vue-class-component'

@Options({
  methods:{
    createUser(){
      if(this.user.email.trim().length !== 0 && this.user.password.trim().length !== 0){
        this.$store.dispatch('createUser', this.user)
      }
    }
  }
})
export default class AuthComponent extends Vue{
  data(){
    return{
      user:{email:'', password:''}
    }
  }
}
</script>